.linea{
  background-color:  #13b0ee;
  width: 1px;
  height: 200%;
  position: absolute;
  left:42px;
  animation-name: linea;
animation-duration: 5s;



}
.lin1{
  background-color:  #13b0ee;
  width: 0.5px;
  height: 200%;
  position: absolute;
  left:42px;
  opacity: 0.2;
  

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  box-shadow: inset 0px 1px 1px rgb(255, 255, 255), 0px 1px 10px #13b0ee;
  position:absolute;

}
.lin2{
  background-color:  #13b0ee;
  width: 0.5px;
  height: 200%;
  position: absolute;
  left:42px;
 
  opacity: 0.2;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  box-shadow: inset 0px 1px 1px rgb(255, 255, 255), 0px 1px 10px #13b0ee;
  position:absolute;
 
      

}
.lin3{
  background-color:  #13b0ee;
  width: 0.5px;
  height: 200%;
  position: absolute;
  left:42px;
  opacity: 0.2;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  box-shadow: inset 0px 1px 1px rgb(255, 255, 255), 0px 1px 10px #13b0ee;
  position:absolute;


}
.lin4{
  background-color:  #13b0ee;
  width: 1px;
  height: 200%;;
  position: absolute;
  left:42px;
  opacity: 0.5;
  
  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  box-shadow: inset 0px 1px 1px rgb(255, 255, 255), 0px 1px 10px #13b0ee;
  position:absolute;

}
.lin5{
  background-color:  #13b0ee;
  width: 1px;
  height: 200%;
  position: absolute;
  left:42px;
  opacity: 1;
  
 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  box-shadow: inset 0px 1px 1px rgb(255, 255, 255), 0px 1px 10px #13b0ee;
  position:absolute;

}
.lin6{
  background-color:  #13b0ee;
  width: 2px;
  height: 200%;
  position: absolute;
  left:42px;
  
  opacity: 1;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  box-shadow: inset 0px 1px 1px rgb(255, 255, 255), 0px 1px 10px #13b0ee;
  position:absolute;
  

}

/*ANIMACIONES*/


#anima{

width: 100%;
/*background-color:rgb(239, 250, 252);*/
margin-top: 2%;
float: inline-end;
max-width: 1000px;



}
#animaH{
  animation-name: accioH;
animation-duration: 3s;

}
@keyframes linea{
  from {
      
      margin-top: 100%;
      
  }
  to {
      margin-top: 0%;
      
  }
}
@keyframes accioH{
  from {
      margin-top: 100%;
      
  }
  to {
      margin-top: 5%;
      
  }
}

@keyframes titulo{
  from {
      margin-left: 100%;
      
  }
  to {
      margin-right: 5%;
      
  }
}

/*GENERAL*/


h1 {font-size: 30px;
  margin-left:30px;
  font-family: "Orbitron";
  text-align: left;
  /*titulo principal (HTML)*/
  
  }
h3{
  text-align: right;
  font-family: "Orbitron";
  font-size: 18px;
  /*preguntas*/
}
input{
  visibility: hidden;
}
button{
  visibility: hidden;
}

h3 label:hover{
  font-size: 22px;
  opacity: 0.4;
  color: darkcyan;
}

/*texto de las posibles respuestas*/    



#a{

text-align: left;
background-color:rgb(239, 250, 252);
font-family: "Monda";
font-size: 16px;


}
#b {

text-align: left;
background-color:rgb(239, 250, 252);
font-family: "Monda";
font-size: 16px;


}

#c {
text-align: left;
background-color:rgb(239, 250, 252);
font-family: "Monda";
font-size: 16px;
display: inline-block;
}
#d {
text-align: left;
background-color:rgb(239, 250, 252);
font-family: "Monda";
font-size: 16px;
display: inline-block;
      }
#e {
text-align: left;
background-color:rgb(239, 250, 252);
font-family: "Monda";
font-size: 16px;
display: inline-block;
              }

#f {
text-align: left;
background-color:rgb(239, 250, 252);
font-family: "Monda";
font-size: 16px;
display: inline-block;

           }



/*botones*/ 



.AS label {
cursor: pointer;
position: relative;
width: 28px;
height: 28px;
left:15px;

-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

left: 2px;
top: 2px;





}

.AS label:after {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0.3;
content: '';
position: absolute;
width: 16px;
height: 16px;
background: #13b0ee;

background: -webkit-linear-gradient(top, #0099bf 0%, #002f94 100%);
background: -moz-linear-gradient(top,  #0099bf 0%, #002f94  100%);
background: -o-linear-gradient(top,  #0099bf 0%, #002f94  100%);
background: -ms-linear-gradient(top,  #0099bf 0%, #002f94 100%);
background: linear-gradient(top,  #0099bf 0%, #002f94  100%);

-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
top: 2px;
left: 2px;


}
.AS label:hover::after {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
filter: alpha(opacity=30);
opacity: 0.6;
}
.AS input[type=radio]:checked + label:after {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1;}


.AS label {
cursor: pointer;
position: relative;
width: 20px;
height: 20px;
left:5px;

-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

left: 2px;
top: 2px;





}


.nota {
width: 48px;
height: 48px;
background: #fcfff4;
left: 22px;
position: absolute;
margin-bottom: 10px;



-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
box-shadow: inset 0px 1px 1px rgb(255, 255, 255), 0px 1px 10px #13b0ee;
position: relative;
}

.nota label {
cursor: pointer;
position: absolute;
width: 300px;
height: 40px;
text-align: center;
background-color: rgb(252, 248, 248);
font-family: "Monda";
font-size: 25px;





-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
left: 4px;
top: 4px;



background: -webkit-linear-gradient(top, white 0%, #a3cfe0 80%,#1d8fbd 100%);
background: -moz-linear-gradient(top, white 0%, #a3cfe0 80%,#1d8fbd 100%);
background: -o-linear-gradient(top, white 0%, #a3cfe0 80%,#1d8fbd 100%);
background: -ms-linear-gradient(top, white 0%, #a3cfe0 80%,#1d8fbd 100%);
background: linear-gradient(top, white 0%, #a3cfe0 80% ,#1d8fbd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.nota label:after {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;
content: '';
position: absolute;
width: 36px;
height: 36px;
background: #014058;

background: -webkit-linear-gradient(top, #d2ebf5 0%, #0499d4 100%);
background: -moz-linear-gradient(top, #d2ebf5 0%, #0499d4 100%);
background: -o-linear-gradient(top, #d2ebf5 0%, #0499d4 100%);
background: -ms-linear-gradient(top, #d2ebf5 0%, #0499d4 100%);
background: linear-gradient(top, #d2ebf5 0%, #0499d4 100%);

-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
top: 2px;
left: 2px;


}

.nota label:hover::after {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
filter: alpha(opacity=30);
opacity: 1;
}

.nota input[type=button]:checked + label:after {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1;}

.inicio{
  /*animation-name: titulo;
  animation-duration: 4s; */
  max-height: 90%;
  max-width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}
.inicio button:hover::after{
  background: -webkit-linear-gradient(top, white 100%,rgb(239, 240, 240) 90%, #d6dbdd 10%,#a6a7a8 0%)
 
  
}

/*
.inicio {
  width: 24px;
  height: 24px;
  background: #fcfff4;
  left:25px;
  top: 150px;
  position: absolute;
 
  


  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 10px #13b0ee;
  box-shadow: inset 0px 1px 1px rgb(255, 255, 255), 0px 1px 10px #13b0ee;
  position: relative;
}

.inicio label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgb(252, 248, 248);
  font-family: "Monda";
  font-size: 12px;
  

  
  

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 1px;
  top: 1px;

  

  background: -webkit-linear-gradient(top, white 0%, #a3cfe0 80%,#1d8fbd 100%);
  background: -moz-linear-gradient(top, white 0%, #a3cfe0 80%,#1d8fbd 100%);
  background: -o-linear-gradient(top, white 0%, #a3cfe0 80%,#1d8fbd 100%);
  background: -ms-linear-gradient(top, white 0%, #a3cfe0 80%,#1d8fbd 100%);
  background: linear-gradient(top, white 0%, #a3cfe0 80% ,#1d8fbd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.inicio label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #13b0ee;

  background: -webkit-linear-gradient(top, #d2ebf5 0%, #0499d4 100%);
  background: -moz-linear-gradient(top, #d2ebf5 0%, #0499d4 100%);
  background: -o-linear-gradient(top, #d2ebf5 0%, #0499d4 100%);
  background: -ms-linear-gradient(top, #d2ebf5 0%, #0499d4 100%);
  background: linear-gradient(top, #d2ebf5 0%, #0499d4 100%);

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  top: 4px;
  left: 4px;

 
}

.inicio label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.5;
}

.inicio input[type=button]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;}
*/

/*#a2{}
#a3{}
#a4{}

#b1{}
#b2{}
#b3{}
#b4{}

#c1{}
#c2{}
#c3{}
#c4{}

#d1{}
#d2{}
#d3{}
#d4{}

#e1{}
#e2{}
#e3{}
#e4{}

#f1{}
#f2{}
#f3{}
#f4{}*/
